.Shoes {
    color: rgb(12, 97, 69);
  /* height: 10%;
  padding: 3px;
  border: 1px solid black;
  position: fixed;
  left: 10px; */
}
/* .pic {
  height: 10%;
  padding: 3px;
  border: 1px solid black;
  position: fixed;
  left: 10px;
} */

.picture {
  height: 10%;
  width: 10%;
}
